@model Projecto.Models.Project

<div class="d-flex justify-content-between align-items-center">
  <div>
    <h2>@Model.Title</h2>
    <p>@Model.Description</p>
  </div>
  <div>
    @*Need to replace action with Sprint controller action*@
    <a asp-controller="Projects" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
    <a asp-controller="Projects" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
  </div>
</div>

<ul class="nav nav-tabs" id="projectTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button"
      role="tab">
      Overview
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="sprints-tab" data-bs-toggle="tab" data-bs-target="#sprints" type="button" role="tab">
      Sprints
    </button>
  </li>
  <li class="nav-item" role="presentation"></li>
  <button class="nav-link" id="tickets-tab" data-bs-toggle="tab" data-bs-target="#tickets" type="button" role="tab">
    Tickets
  </button>
  </li>
</ul>

<div class="tab-content mt-3" id="projectTabsContent">
  <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
    <partial name="_ProjectOverview" model="Model" />
    @* @await Html.PartialAsync("~/Views/Tickets/_TicketList.cshtml", Model) *@
  </div>
  <div class="tab-pane fade" id="sprints" role="tabpanel" aria-labelledby="sprints-tab">
    <div class="d-flex justify-content-end align-items-center mb-3">
      <a asp-controller="Sprints" asp-action="Create" asp-route-projectId="@Model.Id" class="btn btn-primary">
        Add Sprint
      </a>
    </div>
    @await Html.PartialAsync("~/Views/Sprints/Index.cshtml", Model.Sprints)

  </div>
  <div class="tab-pane fade" id="tickets" role="tabpanel" aria-labelledby="tickets-tab">
    <partial name="_ProjectTickets" model="Model" />
  </div>
</div>
