@model IEnumerable<Projecto.Models.Sprint>


<table class="table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Title</th>
      <th>Description</th>
      <th>CreatedAt</th>
      <th>Due Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var sprint in Model)
    {
      <tr>
        <td>@sprint.Project!.Title</td>
        <td>@sprint.Title</td>
        <td>@sprint.Description</td>
        <td>@sprint.CreatedAt</td>
        <td>@sprint.DueDate</td>
        <td>
          <a asp-controller="Sprints" asp-action="Details" asp-route-id="@sprint.Id" class="btn btn-info"><i
              class="bi bi-eye"></i></a>
          @* <a asp-controller="Sprints" asp-action="Edit" asp-route-id="@sprint.Id" class="btn btn-secondary"><i
                class="bi bi-pencil"></i></a> *@
          <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@sprint.Id" class="btn btn-secondary"><i
              class="bi bi-trash"></i></a>
        </td>
      </tr>
    }
  </tbody>
</table>